[Desktop Entry]
Name=RgQuake
Type=Application
Exec=./rgquake.sh
Icon=logo
Comment=Enhanced port of Quake
Terminal=false
Categories=games;
X-OD-Manual=manual-gcw0.txt
