[Desktop Entry]
Name=RgQuake-Hipnotic
Type=Application
Exec=rgquake -basedir /media/data/Quake -hipnotic
Icon=mp1
Comment=Mission Pack 1: Scourge of Armagon
Terminal=false
Categories=games;
X-OD-Manual=manual-gcw0.txt
