[Desktop Entry]
Name=RgQuake-Rogue
Type=Application
Exec=./rogue.sh
Icon=mp2
Comment=Mission Pack 2: Dissolution of Eternity
Terminal=false
Categories=games;
X-OD-Manual=manual-gcw0.txt
